body {
   margin: 0;
   height: 100vh;
}

.header-conteiner {
   display: grid;
   width: 100%;
   height: 10vh;
   background-color: blue;
}

.header-text {
   display: grid;
   align-items: center;
   justify-items: center;
}

.footer-container {
   display: grid;
   width: 100%;
   height: 10vh;
   background-color: green;
}

.footer-text {
   display: grid;
   align-items: center;
   justify-items: center;
}

.content-container {
   display: grid;
   grid-template-columns: 1fr 5fr 1fr;
   height: 80vh;
}

.navigation-conteiner {
   background-color: orange;
   box-sizing: border-box;
   padding: 15px;
}

.links-conteiner {
   background-color: darkmagenta;
   box-sizing: border-box;
   padding: 15px;
}

.article-conteiner {
   width: 70%;
   box-sizing: border-box;
   padding: 20px;
}

h2 {
   margin: 0;
}

h3 {
   margin: 0;
}

.header-text, .footer-text {
   font-size: 28px;
   color: white;
}

@media only screen and (max-width: 768px) {
   .content-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 5fr 1fr;
   }
}